<div class="jumbotron center">
    
    <h1>Welcome to pinterested clone!</h1>
    <p>Proceed at your own risk...</p>
    
    <%= link_to 'login', root_path, class: "btn btn-default navbar-btn" %>
    <%= link_to 'join', home_about_path, class: "btn btn-primary navbar-btn" %>

</div>